button {
    background: rgba(100, 149, 237, 0.6);
    border: 1px #DADADA solid;
    border-radius: 2px;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 2px 2px 2px #EAEAEA;
    background: rgb(100, 149, 237);
}

.button_add {
    margin: 15px;
    background: rgb(100, 149, 237);
    padding: 10px 15px;
}

#button_del {
    background: rgba(255, 140, 0, 0.6);
}

#button_del:hover {
    background: rgb(255, 140, 0);
}

.contener{
    padding: 10px 15px;
}